# Gmail API (Service Account)
GOOGLE_SERVICE_ACCOUNT_EMAIL=your-service-account@your-project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
GMAIL_USER_EMAIL=your-workspace-user@your-domain.com
GMAIL_FROM_ALIAS=info@your-domain.com
